<!DOCTYPE html>
<html>
  <head>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
     <title>JavaScript Comparador de Secuencias</title>
     <link href="./views/content/normalize.css" rel="stylesheet" type="text/css">
     <link href="./views/content/global.css" rel="stylesheet" type="text/css">
  </head>
  <body>
  
    <div id="base">
    
      <div id="titulo"><h1>Comparador de Secuencias</h1></div>

      <table>
        <div id="dentro">
          
          <div>
              <h3>Introducir: Primos(n), Fibonacci(n), Primos(n) diferencia/igual Fibonacci(n)</h3>
              <form method="post" action="/comparar">
              <br>
              <input id="original" name="temp" placeholder="Primos(5) igual Fibonacci(8)" size="50">
              </form>
          </div>

          <div>
              <br>
              <h4>Resultado: </h4>
              <br>
              <h3><span class="output" name="result" id="converted"><%- result %></span></h3>
          </div>

        </div>
      </table>
      
    </div>

  </body>
</html>
