<!DOCTYPE html>
<html>
  <head>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
     <title>JavaScript Comparador de Secuencias</title>
     <link href="./views/content/normalize.css" rel="stylesheet" type="text/css">
     <link href="./views/content/global.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1>Comparador de Secuencias</h1>
    <table>
      <tr>
        <th>Introducir: Primos(n), Fibonacci(n), Primos(n) diferencia/igual Fibonacci(n)</th>
        <form method="post" action="/comparar">
          <td><input id="original" name="temp" placeholder="32F" size="50"></td>
        </form>
      </tr>
      <tr>
        <th>Resultado: </th>
        <td><span class="output" name="result" id="converted"><%- result %></span></td>
      </tr>
    </table>
  </body>
</html>
