<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Formulario Form</title>



      <link rel="stylesheet" href="./views/formulario/css/style.css">


</head>

<body>

	<div id="base">
    <div id="triangle"></div>
    <div id="titulo">Iniciar sesion</div>
    <div id="form">
    <form method="post" action="/login">

    <input class="input" type="text" name="username" placeholder="Nombre de usuario">
    <input class="input" type="password" name="password" placeholder="Contraseña">
     <br>
		<input class="boton1" type="reset" value="Limpiar">
    <input class="boton2" type="submit" value="Enviar">
    </form>
   </div>
    <div></div>
	</div>


</body>
</html>
