<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Formulario Form</title>



      <link rel="stylesheet" href="./views/formulario/css/style.css">
      <link href="./views/formulario/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>


</head>

<body>

	<div id="base">
    <div id="triangle"></div>
    <div id="titulo">Menu</div>
    <div class="row center">
    <a href="/login" class="btn-large waves-effect waves-light teal lighten-1">Login</a>
    </div>
   <div class="row center">
   <a href="/registrar" class="btn-large waves-effect waves-light teal lighten-1">Registrar</a>
   </div>
    <div></div>
	</div>


</body>
</html>
